{
  "$schema": "https://infection.github.io/schema.json",
  "source": {
    "directories": [
      "app"
    ]
  },
  "logs": {
    "text": "infection.log"
  },
  "phpUnit": {
    "configDir": ".",
    "customPath": "vendor/bin/phpunit"
  },
  "timeout": 10,
  "mutators": {
    "@default": true
  },
  "bootstrap": "vendor/autoload.php",
  "ignoreMsiWithNoMutations": true,
  "minMsi": 0,
  "minCoveredMsi": 0
}

